<div class="container color-dark">
  <div class="col">
    <p>Add a Bucket list item</p>
  </div>
  <div class="col">
    <!-- {{ This is interplotting}} -->
    <p>Your Bucket list ({{ itemCount }})</p>
  </div>
</div>

<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. What do you want/achieve next?</p>

    <form>
      <!-- [(ngModel)]="goalText" this is two data binding -->
      <input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">
      <!-- [value]="btnText" This is property binding-->
      <!-- (click)="addItem()" this is event binding -->
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>

  </div>

  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)" >
      {{ goal }}
    </p>
  </div>
</div>
